* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  /*overflow: hidden;*/
=======
>>>>>>> refs/remotes/origin/main
}

.pageContainer {
  padding: 50rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  background-color: #1e272e;
  /* margin: auto -16px; */
  padding: 1rem 2rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.headerContainer h1 {
  color: aliceblue;
}

.header-right {
  display: flex;
  align-items: center;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    padding: 1rem 2rem;
}

footer p {
    color: black;
    font-size: 1.2rem;
}