* {
    text-align: center;
}

.restaurant-container{
    margin: auto;
    height: 100%;
    width: 80%;
}

#title, #content{
    display: block;
    padding: 5%;
    font-size: larger;
    border-style: solid;
    border-color: black;
}