* {
    text-align: center;
}
.restaurant-container{
    margin: auto;
    height: 100%;
    width: 75%;
}

#title{
    display: block;
    padding: 5%;
    font-size: larger;
    border-style: solid;
    border-color: black;
}
 #content{
    color: white;
    display: block;
    padding: 5%;
    font-size: larger;
    border-style: solid;
    border-color: white;
}

#content {
  display: grid;
  margin: 0;
  grid-template-columns: 50% 50%;
}

.restaurant-list {
    display: flex;
    justify-content: center;
}
