* {
    text-align: center;
}
.picks-container{
    margin: auto;
    height: 100%;
    width: 75%;
}
#content, #title
{   margin: auto;
    display: block;
    padding: 5%;
    font-size: larger;
    border-style: solid;
    border-color: black;

}
