footer {
    font-weight: bold;
    color:LightSlateGrey;
    padding:10px;
    text-align: center;
    bottom: 0;
    width: auto;
    position: relative;
}
p{
    display: table-cell;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
    vertical-align: bottom;
}