img {
    width: 50%;
    height: 50%;
    padding: 5%;
    float: left;
    display: inline;
}

.action-btns {
    display: flex;
    justify-content: space-between;
}

.card {
    margin: 1rem;
    padding: 0.5rem;
    padding-bottom: 0;
}