img {
    width: 60%;
}
<<<<<<< HEAD
=======

.name {
    font-family: Arial, Helvetica, sans-serif;
    width: 20px;
    height: 20px;
}

>>>>>>> refs/remotes/origin/main
.map-container{
    position: relative;
    width:700px;
    margin:0 auto;
    z-index: 99;
}
.button{
    position: absolute;
    right:0;
    top: 0;
}
#map {
    text-decoration: underline;
    background-color: transparent;
}

<<<<<<< HEAD
.name {
    font-family: Arial, Helvetica, sans-serif;
}

.address {
    font-size: smaller;
    font-style: italic;
}

.hours {
    font-size: smaller;
}
=======
.card-content {
    color: black;
    display: grid;
}
>>>>>>> refs/remotes/origin/main
